body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://images.pixexid.com/an-awe-inspiring-desktop-wallpaper-featuring-a-space-scene-with-a-massive-supern-pbqzxybr.webp?h=700&q=70");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  